.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.title {
    color: #171717;
    font-size: 18px;
}

.subtitle {
    font-size: 20px;
    margin-bottom: 30px;
    color: #171717;
}

.form{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input{
    padding: 20px;
    background-color: transparent;
    border: 1px solid darkgray;
    color: darkgray;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 300;
    height: 60px;
}

.button {
    width: 400px;
    height: 60px;
    padding: 20px;
    cursor: pointer;
    background-color: #53c28b;
    border: none;
    border-radius: 5px;
    color: #eee;
    font-weight: bold;
    
}

.button:hover {
    background-color: #49b07d;
}

.or {
    color: #bbb;
    display: flex;
    justify-content: center;
}

.link {
    text-decoration: underline;
    color: #7d7c7c;
    display: flex;
    justify-content: center;
}

.link:hover {
    color: rgb(61, 61, 61);
}