.container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 10vh;

  .content {
    .title {
      padding: 0 0 2rem 0;
      font-size: xxx-large;
    }

    .desc {
      padding: 0 0 2rem 0;
    }
  }

  .slide {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 35rem;

    .firstContainer {
      z-index: 2;
      width: clamp(20rem, 22.5vw, 25rem);
      height: auto;
      position: absolute;

      .first {
        border-radius: 1.5rem;
        width: clamp(20rem, 22.5vw, 25rem);
        height: 450px;
      }
    }

    .secondContainer {
      z-index: 1;
      width: clamp(20rem, 22.5vw, 25rem);
      height: auto;
      position: absolute;

      .second {
        border-radius: 1.5rem;
        width: clamp(20rem, 22.5vw, 25rem);
        height: 450px;
      }
    }

    .thirdContainer {
      z-index: 0;
      width: clamp(20rem, 22.5vw, 25rem);
      height: auto;
      position: absolute;

      .third {
        border-radius: 1.5rem;
        width: clamp(20rem, 22.5vw, 25rem);
        height: 450px;
      }
    }

    .controls {
      display: flex;
      justify-content: space-around;
      position: absolute;
      left: -6rem;
      bottom: 0;
      width: 8rem;
      z-index: 3;

      .previous,
      .next {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: 2px solid transparent;
        border-radius: 30px;
        transition: border-color 0.3s ease, transform 0.3s ease;
        height: 2.5rem;
        width: 2.5rem;
        padding: 5px;
      }

      .previous:hover,
      .next:hover {
        border: 2px solid black;
        border-radius: 30px;
      }

      .disabled {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: 2px solid transparent;
        transition: border-color 0.3s ease, transform 0.3s ease;
        height: 2.5rem;
        width: 2.5rem;
        padding: 5px;
        border-radius: 30px;
      }
    }
  }
}